.profile__text {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 18px;
}
@media screen and (max-width: 629px) {
  .profile__text {
    justify-content: center;
    gap: 10px;
  }
}
