.popup__submit-button {
  background: #000000;
  border-radius: 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  width: 358px;
  height: 50px;
  border: none;
  cursor: pointer;
  padding: 0;
}
.popup__submit-button:hover {
  opacity: 0.8;
}
@media screen and (max-width: 561px) {
  .popup__submit-button {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}
