.popup__close-button {
  position: absolute;
  background: url(../../../images/close-button.svg) no-repeat center / contain;
  width: 32px;
  height: 32px;
  border: none;
  top: -40px;
  right: -40px;
  padding: 0;
  cursor: pointer;
}
.popup__close-button:hover {
  opacity: 0.6;
}
@media screen and (max-width: 561px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    right: 0;
    top: -36px;
  }
}
