.element__like {
  background: url(../../../images/like-button.svg) no-repeat center/ contain;
  height: 19px;
  width: 22px;
  border: none;
  margin: 0;
  cursor: pointer;
  padding: 0;
}
.element__like:hover {
  opacity: 0.5;
}
